<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content" id="modal" #modal>
    
  <button class="close-btn" (click)="closeModal()">✕</button>

  <!-- Save button -->
  <button class="save-btn" (click)="saveModal()" title="Download modal as PNG">
    <i-lucide [img]="Download"></i-lucide>
    Save as PNG
  </button>

  <h2>Have</h2>
  <div class="plushie-list">
    <div class="plushie-item" *ngFor="let p of havePlushies">
      <img [src]="'assets/images/' + p.image" [alt]="p.name" />
      <span class="quantity" *ngIf="p.quantity && p.quantity > 1">{{ p.quantity }}x</span>
      <p>{{ p.name }}</p>
    </div>
  </div>

  <h2>Want</h2>
  <div class="plushie-list">
    <div class="plushie-item" *ngFor="let p of wantPlushies">
      <img [src]="'assets/images/' + p.image" [alt]="p.name" />
      <span class="quantity" *ngIf="p.quantity && p.quantity > 1">{{ p.quantity }}x</span>
      <p>{{ p.name }}</p>
    </div>
  </div>

  <div class="spinner-overlay" *ngIf="isSaving">
    <div class="spinner"></div>
  </div>


</div>
