<div *ngFor="let category of (displayColumns | keyvalue)" class="category-section">
  <div class="category-filterer">
    <h2 class="category-title">{{ category.key }}</h2>

    <div
      class="category-columns"
      [class.orphans-only]="hasNoSets(category.key)"
    >
      <div class="column" *ngFor="let col of category.value">
        <h3 *ngIf="col.type === 'set'" class="set-title">{{ col.setName }}</h3>
        <div class="card-iterator" *ngFor="let plushie of col.cards">
          <app-plushie-card [plushie]="plushie"></app-plushie-card>
        </div>
      </div>
    </div>
  </div>
</div>
